body{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

p{
    color: blue;
    font-family: 'Ma Shan Zheng', cursive;
}
.vip{
    color: black;
}
li{
    color: green;
}
.span1{
    color: red;
}
.span2{
    text-decoration: underline;
}